[Unit]
Description=RClone mount of users remote %i using filesystem permissions
Documentation=http://rclone.org/docs/
After=network-online.target

[Service]
Type=notify

# Set up environment
Environment=RCLONE_CONF="%h/.config/rclone/rclone.conf"
Environment=RCLONE_TEMP_DIR="/tmp/rclone/%u/%i"

# Overwrite default environment settings with settings from the file if present
EnvironmentFile=%h/.config/rclone/%i.env

# Check that rclone is installed
ExecStartPre=/usr/bin/test -x %h/go/bin/rclone

# Check the mount directory
ExecStartPre=/usr/bin/test -d "${MOUNT_DIR}"
ExecStartPre=/usr/bin/test -w "${MOUNT_DIR}"

# Check the rclone configuration file
ExecStartPre=/usr/bin/test -f "${RCLONE_CONF}"
ExecStartPre=/usr/bin/test -r "${RCLONE_CONF}"

# Mount rclone fs
ExecStart=%h/go/bin/rclone mount \
            --cache-tmp-upload-path="${RCLONE_TEMP_DIR}/upload" \
            --cache-chunk-path="${RCLONE_TEMP_DIR}/chunks" \
            --cache-dir="${RCLONE_TEMP_DIR}/vfs" \
            --cache-db-path="${RCLONE_TEMP_DIR}/db" \
            "${REMOTE_NAME}:${REMOTE_PATH}" "${MOUNT_DIR}"

# Unmount rclone fs
ExecStop=/bin/fusermount -u "${MOUNT_DIR}"

# Restart info
Restart=on-success
RestartSec=10

[Install]
WantedBy=default.target
